*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

input[type="text"]{
    border-radius: 5px;
    border: solid gray 1px;
}

body{
    width: 100vw;
}

img{
    height: 5vh;
    width: 2vw;
}

.main{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

/* STYLES NAV-BAR */

.left-nav{   
    background-color: white;
    border: solid rgb(220, 211, 211) 3.5px;
    border-radius: 15px;
    width: 20%;
    /* overflow: hidden; */
}

.logoOdc{
    height: 15vh;
    width: 10vw;
    margin-left: 10%;
    margin-top: 5%;
    border: solid 1px whitesmoke;
}

.item1,.item2,.item3,.item4,.item5,.item6,.item7{
    margin: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item1,.item2,.item3,.item4,.item5,.item6,.item7,
label{
    margin-right: 45%;
}



/* STYLE CONTENU DROITE */
.right-contain{
    border: solid black 2px;
    width: 80%;
    margin-left: 5%;
}

.contain-top{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: solid rgb(244, 240, 240) 2px;
    border-radius: 8px;
}

.left-top{
    display: flex;
    justify-content: space-between;
    /* padding: 2%; */
}


.burger,.icon-app,.recherche{
    margin: 10px;
}

.left-top input[type="text"]{
    height: 5vh;
    border-radius: 11px;
    background-color: aliceblue;
    width: 15vw;
}
.recherche-img{
    position: relative;
    z-index: 1;
    height: 2vh;
    right: 50px;
    top: 17px;
}

.right-top{
    display: flex;
    justify-content: space-around;
}

.today-contain,.logo-right,.current-user{
    margin: 10px;
}

.today-contain{
    color: teal;
    border: solid 1px teal;
    width: 10vw;
}
.today{
    position: relative;
    top: -10px;
}
.logo-right{
    background-color: rgb(161, 162, 164);
    width: 3dvw;
    border-radius: 50%;
}

.right-top select{
    border: none;
    background-color: whitesmoke;
    font-size: 1.5rem;
}
.active-page{
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.promotion{
    position: relative;
    right: 18%;
    font-size: 1.5rem;
}
.creating{
    position: relative;
    left: 15%;
}
/*  */

.champ-principal{
    display: grid;
    grid-template-columns: 70% 30%;
}

.referentiels{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.dev-web, .ref-dig, .aws,.hackeuse,.dev-data{
    background-color: white;
    border-radius: 12px;
    margin: 15px;
    width: 11vw;
}

.ref-top, .ref-img,.ref-nom-etat{
    margin-top: 10%;
}

.ref-top{
    cursor: pointer;
}

.classe-img{
    position: relative;
    left: 20%;
    height: 15vh;
    width: 6vw;
}

.ref-nom-etat{
    text-align: center;
}

.formulaire{
    height: 40vh;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.lib,.desc{
    margin: 30px;
}
.lib,.desc,input[type="text"]{
    height: 8vh;
    width: 18vw;
    border-radius: 12px;
    text-align: left;
}

.user{
    position: relative;
    width: 1vw;
    height: 2vh;
    left: 2%;
    top: -40px;
}

#save{
    background-color: teal;
    color: white;
    height: 5vh;
    width: 6vw;
    cursor: pointer;
}

.right-footer{
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 5vh;
}

.copyright{
    margin-left: 300px;
}

.params{
    margin-left: 350px;
    background-color: rgb(149, 192, 192);
    color: white;
    border-radius: 50%;
}